<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <firstmodule>
            <general>
                <enable>1</enable>
                <display_text>Hello World</display_text>
            </general>
        </firstmodule>
        <aktivieren>
            <akt_general>
                <akt_enable>1</akt_enable>
                <akt_percent>0.7</akt_percent>
            </akt_general>
        </aktivieren>
    </default>
</config>
